# Module 2.2 Data preparation

## Setup

### Imports

In [7]:
import numpy as np
import pandas as pd

### Load data

In [8]:
# Setup data
df = pd.read_csv('02-regression/notebooks/data.csv')
df.sample(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
8877,Audi,S5,2016,premium unleaded (required),333.0,6.0,AUTOMATED_MANUAL,all wheel drive,2.0,"Factory Tuner,Luxury,Performance",Midsize,Convertible,26,18,3105,61100
8308,Land Rover,Range Rover,2014,premium unleaded (required),340.0,6.0,AUTOMATIC,four wheel drive,4.0,Luxury,Large,4dr SUV,23,17,258,88300
5367,Volkswagen,Golf GTI,2015,premium unleaded (recommended),210.0,4.0,AUTOMATED_MANUAL,front wheel drive,2.0,"Hatchback,Performance",Compact,2dr Hatchback,33,25,873,28885
11778,Cadillac,XTS,2016,premium unleaded (required),410.0,6.0,AUTOMATIC,all wheel drive,4.0,"Luxury,High-Performance",Large,Sedan,23,16,1624,72320
6251,Subaru,Justy,1993,regular unleaded,73.0,3.0,AUTOMATIC,front wheel drive,2.0,Hatchback,Compact,2dr Hatchback,32,28,640,2000

## Data preparation

In [9]:
# Make column names all lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')
list(df.columns)

['make',
 'model',
 'year',
 'engine_fuel_type',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'driven_wheels',
 'number_of_doors',
 'market_category',
 'vehicle_size',
 'vehicle_style',
 'highway_mpg',
 'city_mpg',
 'popularity',
 'msrp']

In [10]:
strings = list(df.dtypes[df.dtypes == 'object'].index)
strings

['make',
 'model',
 'engine_fuel_type',
 'transmission_type',
 'driven_wheels',
 'market_category',
 'vehicle_size',
 'vehicle_style']

In [11]:
for col in strings:
    df[col] = df[col].str.lower().str.replace(' ', '_')

df.sample(5)

,make,model,year,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,msrp
5030,ford,fusion,2015,regular_unleaded,231.0,4.0,automatic,all_wheel_drive,4.0,NaN,midsize,sedan,31,22,5657,27830
5230,lamborghini,gallardo,2014,premium_unleaded_(required),570.0,10.0,manual,all_wheel_drive,2.0,"exotic,factory_tuner,high-performance",compact,convertible,20,13,1158,251600
74,chrysler,200,2016,flex-fuel_(unleaded/e85),184.0,4.0,automatic,front_wheel_drive,4.0,flex_fuel,midsize,sedan,36,23,1013,22490
7053,nissan,murano,2017,regular_unleaded,260.0,6.0,automatic,all_wheel_drive,4.0,crossover,midsize,4dr_suv,28,21,2009,40780
10598,chevrolet,trailblazer_ext,2004,regular_unleaded,275.0,6.0,automatic,rear_wheel_drive,4.0,NaN,large,4dr_suv,18,13,1385,30070

## Export dataset

In [12]:
# Save cleaned data for use in next steps
df.to_csv('02-regression/notebooks/data_cleaned.csv', index=False)