# Homework 01

## Setup

In [88]:
import numpy as np
import pandas as pd

data = pd.read_csv('01-intro/car_fuel_efficiency.csv')
data.sample(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
2972,260,2.0,166.0,3375.949115,13.8,2001,Europe,Gasoline,All-wheel drive,-1.0,13.247672
9468,280,4.0,161.0,3019.470719,13.9,2001,Asia,Gasoline,Front-wheel drive,-2.0,14.936346
7734,210,3.0,187.0,2706.573671,16.0,2001,USA,Diesel,All-wheel drive,0.0,16.598719
6868,310,6.0,177.0,2723.632909,17.7,2001,Asia,Gasoline,Front-wheel drive,0.0,16.190596
5201,180,7.0,102.0,3198.968708,14.5,2001,Europe,Diesel,Front-wheel drive,0.0,13.482946

## Answers

### Q1. Pandas version
What's the version of Pandas that you installed?

In [89]:
pd.__version__

'2.3.2'

### Q2. Records count
How many records are in the dataset?

In [90]:
# Number of rows in data set
data.shape[0]  # tuple is (rows, columns)

9704

### Q3. Fuel types
How many fuel types are presented in the dataset?

In [91]:
# List column names
data.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [92]:
# Visualise the unique 'fuel_type' values
print(data['fuel_type'].unique())

['Gasoline' 'Diesel']

In [93]:
# List the number of unique 'fuel_type' values
data['fuel_type'].nunique()

2

### Q4. Missing values
How many columns in the dataset have missing values?

In [94]:
# Visualise the number of missing values in each column
missing_values_sum = data.isnull().sum()
missing_values_sum

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [95]:
# Count of columns with missing values
print((missing_values_sum > 0).sum())

4

### Q5. Max fuel efficiency
What's the maximum fuel efficiency of cars from Asia?

In [96]:
# Find what unique values are in the 'origin' column
print(data['origin'].unique())

['Europe' 'USA' 'Asia']

In [97]:
# Filter the data to show only records from Asia
data_asia = data[data['origin'] == 'Asia']
data_asia.head(5)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730

In [98]:
# Print the max fuel efficiency in Asia rounded to 2 decimal places
print(data_asia['fuel_efficiency_mpg'].max().round(2))

23.76

In [99]:
# Or in one line if you really want to make your peers cry
print(data[data['origin'] == 'Asia']['fuel_efficiency_mpg'].max().round(2))

23.76

### Q6. Median value of horsepower
1. Find the median value of horsepower column in the dataset.
1. Next, calculate the most frequent value of the same horsepower column.
1. Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
1. Now, calculate the median value of horsepower once again.

In [100]:
data['horsepower'].head(10)

0    159.0
1     97.0
2     78.0
3      NaN
4    140.0
5      NaN
6    127.0
7    239.0
8    174.0
9    123.0
Name: horsepower, dtype: float64

In [101]:
# 1. Find the median value of horsepower column in the dataset.
median_horsepower = data['horsepower'].median()
print(median_horsepower)

149.0

In [102]:
# 2. Next, calculate the most frequent value of the same horsepower column.
mode_horsepower = data['horsepower'].mode()[0]
print(mode_horsepower)

152.0

In [ ]:
# 3. Use fillna method to fill the missing values in horsepower column
# with the most frequent value from the previous step.
missing_horsepower_count = data['horsepower'].isnull().sum()
print(f'missing_horsepower_count: {missing_horsepower_count}')

# Fill missing values with the mode (most frequent value)
filled_horsepower_series = data['horsepower'].fillna(
    mode_horsepower, inplace=False)
print(f'missing count after fillna: {filled_horsepower_series.isnull().sum()}')

missing_horsepower_count: 708
missing count after fillna: 0

In [104]:
filled_horsepower_series.head(10)

0    159.0
1     97.0
2     78.0
3    152.0
4    140.0
5    152.0
6    127.0
7    239.0
8    174.0
9    123.0
Name: horsepower, dtype: float64

In [105]:
# 4. Now, calculate the median value of horsepower once again.
new_median_horsepower = filled_horsepower_series.median()
print(new_median_horsepower)

152.0

In [106]:
print('Has it changed?')


if new_median_horsepower > median_horsepower:
    print('Yes, it increased')
elif new_median_horsepower < median_horsepower:
    print('Yes, it decreased')
else:
    print('No')

Has it changed?
Yes, it increased